@import "tailwindcss";

:root {
  /* Al poner --color-*, Tailwind 4 crea automáticamente las clases */
  --color-venezuela-blue: #00244C;
  --color-venezuela-gold: #FDBF00;
  --color-venezuela-red: #CF142B;
  --color-surface-light: #F8FAFC;
  
  /* Color de fondo base */
  background-color: var(--color-surface-light);
}
@keyframes waveDance {
  0% { transform: scaleY(0.4); }
  50% { transform: scaleY(1); }
  100% { transform: scaleY(0.4); }
}

.animate-wave {
  animation: waveDance 0.8s ease-in-out infinite;
  transform-origin: bottom;
}